[Unit]
Description=AI Lab and RAG Ingestion Service
After=network.target

[Service]
Type=simple
TimeoutStartSec=300

# Will set the Current Directory (pwd)
WorkingDirectory=/home/edwin/ai.lab/ai.lab.service/bin/Release/net9.0/publish

# Path to the dotnet application dll
ExecStart=/usr/bin/dotnet /home/edwin/ai.lab/ai.lab.service/bin/Release/net9.0/publish/ai.lab.service.dll

# User and Group - Replace with your system user
User=edwin
Group=edwin

# Restart service after 10 seconds if the dotnet service crashes
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=60
StartLimitBurst=3
KillSignal=SIGINT

# Set environment variables
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

# Logging
SyslogIdentifier=ailab-service

# Security settings
NoNewPrivileges=true

# Performance
#LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
